*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-sm: 0.75rem;
    --fs-h1: 1.5rem;
    --fs-h2: 3rem;
    --fs-body: 1rem;

    --clr-white: #fff;
    --clr-pink: #D23E58;
    --clr-blue: #0f0d35;
    --clr-black: #000;

}

body {
    font-family: 'Montserrat', sans-serif;
}


