body {
  margin: 0;
  font-family: "Recursive", sans-serif;
  background-color: rgb(160, 160, 160);
}

a {
  color: black;
}

header {
  background-color: #4db6ac;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 2;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
header ul a:hover {
  background-color: #619993;
}

header ul a {
  display: block;
  outline: 1px solid rgb(214, 214, 214);
  padding: 1em;
  text-decoration: none;
}

header .logo {
  display: block;
  float: left;
  margin: 1em;
  font-size: 2em;
}

header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

header .menu-icon {
  padding: 30px 20px;
  position: relative;
  float: right;
  cursor: pointer;
  margin: 1em;
}

header .menu-icon .nav-icon {
  background-color: black;
  display: block;
  height: 0.2rem;
  width: 1.5em;
  position: relative;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background-color: black;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(45deg);
  top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(-45deg);
  top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

@media (min-width:45em) {
  .header li {
    float: left;
  }
}

/* TODO: Set the whole thing up in flexbox */