*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

body {
  padding: 2em;
  background: #e55d87; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5fc3e4,
    #e55d87
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5fc3e4,
    #e55d87
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

/* Outer Structure Setup */

.wrapper {
  max-width: 60em;
  margin: 0 auto;
  display: flex;
}

.scroll-cards {
  position: relative;
  padding-bottom: 50vh;
  counter-reset: card;
}

h1 {
  position: sticky;
  top: 2rem;
  font-size: 2em;
  margin: 0 0 0.5em;
}
h2 {
  font-size: 1em;
}

article {
  --offset: 0.2em;
  color: #000;
  position: sticky;
  top: max(16vh, 10em);
  padding: 2em;
  background: #fff;
  min-height: 19em;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
  width: calc(100% - 5 * var(--offset));
  display: flex;
  flex-direction: column;
}

.scroll-cards > .scroll-cards__item + .scroll-cards__item {
  margin-top: 40vh;
}

/* Inside Card Structure */

article > h2 {
  font-size: 1.25em;
  text-transform: uppercase;
  margin-left: 2em;
}

.card-content {
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content .image-container img {
  object-fit: contain;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

/* Card Numbering */

article:before {
  counter-increment: card;
  content: "0" counter(card);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75em;
  height: 2.75em;
  background: #f09;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 1.25em;
  top: 1.25em;
  font-weight: bold;
}



/*

.scroll-cards__item:nth-of-type(0) {
  transform: translate(
    calc((0 - 1) * var(--offset)),
    calc((0 - 1) * var(--offset))
  );
}

.scroll-cards__item:nth-of-type(1) {
  transform: translate(
    calc((1 - 1) * var(--offset)),
    calc((1 - 1) * var(--offset))
  );
  
}

.scroll-cards__item:nth-of-type(2) {
  transform: translate(
    calc((2 - 1) * var(--offset)),
    calc((2 - 1) * var(--offset))
  );
}

.scroll-cards__item:nth-of-type(3) {
  transform: translate(
    calc((3 - 1) * var(--offset)),
    calc((3 - 1) * var(--offset))
  );
}
.scroll-cards__item:nth-of-type(4) {
  transform: translate(
    calc((4 - 1) * var(--offset)),
    calc((4 - 1) * var(--offset))
  );
}
.scroll-cards__item:nth-of-type(5) {
  transform: translate(
    calc((5 - 1) * var(--offset)),
    calc((5 - 1) * var(--offset))
  );
}
 */

/* Let's do something here
@media screen and (min-width: 62em) {
  .scroll-cards h1 {
    font-size: 3em;
  }
  .scroll-cards__item {
    --offset: 1.25em;
    max-width: 42em;
  }
}   */

/* 
TODO (I don't want to blindly take this as my own. Let's do some tweaks)

- I can add more content to the card, maybe pictures or something
- Maybe add a toggle button, and change something when checked. (I can learn more buttons from Olivia Ng's toggle post)
- Maybe that duotone picture stuff

*/
