*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-white: #fff;
  --clr-gray: #a6a6a6;
  --clr-dark: #5a5a5a;
  --clr-highlight: #d06d6d;
  --clr-highlight-dark: #722d2d;

  --fs-sm: 1em;
  --fs-h1: 1.5em;
  --fs-h2: 2.5em;
  --fs-xl: 4em;

  --fw-light: 300;
  --fw-normal: 400;
  --fw-norm-thick: 500;
  --fw-thick: 700;
}

body {
  background-image: url(img/img1.jpg);
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main {
  background-color: var(--clr-dark);
  color: var(--clr-white);
  max-width: 900px;
  margin: 3em;
  border-radius: 20px;
  opacity: 0.85;
}

.main-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
  letter-spacing: 1.5px;
  color: var(--clr-highlight);
  text-transform: uppercase;
  padding-top: 1em;
  padding-left: 1rem;
}

.current-weather {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-items: center;
  padding: 1rem;
}

.section-title {
  font-size: var(--fs-h2);
  margin: 0;
}

.date__section-title {
  font-size: var(--fs-xl);
}

.date__main-date-reading {
  color: var(--clr-gray);
  font-size: var(--fs-h2);
  font-weight: var(--fw-light);
  letter-spacing: 1px;
  margin: 0;
}

.temp__section-title {
    margin: 0;
}

.temp__reading {
  color: var(--clr-gray);
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 0.25em;
}

.wind {
  display: grid;
  column-gap: 1em;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  align-self: start;
  --border: 0.25em var(--clr-highlight-dark) solid;
  border-left: var(--border);
  border-right: var(--border);
  padding: 0 2em;
}

.wind .section-title,
.wind .reading {
  grid-column: 2 / 3;
}

.wind .reading {
  margin: 0;
  color: var(--clr-gray);
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
  letter-spacing: 1px;
}

.wind__direction {
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--clr-gray);
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  display: grid;
  place-items: center;
}

.wind__arrow {
  --direction: 120deg;
  --size: 1rem;
  height: calc(var(--size) * 2.5);
  width: var(--size);
  background: var(--clr-highlight-dark);
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  transform: translateY(-50%) rotate(var(--direction));
  transform-origin: bottom center;
  transition: transform 0.5s ease;
}

.summary-paragraph {
  color: var(--clr-white);
  font-size: var(--fs-sm);
  font-weight: var(--fw-light);
  letter-spacing: 1px;

  grid-column: 1 / 3;
}

.summary-paragraph a {
  color: var(--clr-highlight);
}

.summary-paragraph a:hover {
  color: var(--clr-highlight-dark);
}

.unit-switch {
  font-size: var(--fs-h1);
  display: flex;
  gap: 0.25em;
  align-items: center;
  opacity: 0.5;
  transition: opacity 0.2s linear;
  justify-self: end;
}

.unit-switch:hover {
    opacity: 1;
}

.unit-switch label {
  cursor: pointer;
}

.unit-switch input {
  display: none;
}

.switch {
  cursor: pointer;
  height: 1em;
  width: 2.5em;
  border: 1px var(--clr-white) solid;
  border-radius: 1000px;
  display: grid;
  align-items: center;
}

.switch::before {
  content: "";
  display: block;
  height: 0.8em;
  width: 0.8em;
  background-color: var(--clr-white);
  border-radius: 1000px;
  margin-left: 1px;
}
