*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}

:root {
  --clr-bck: rgb(255, 196, 12);
  --clr-accent: rgb(196, 144, 0);
  --clr-hover: #273c48;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.big-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  width: 100%;
  background-color: var(--clr-bck);
  height: 20vh;
  max-height: 50px;
}

.logo-container {
  width: 25%;
  max-width: 250px;
  display: flex;
  align-items: center;
}

.logo {
  width: 100%;
  object-fit: cover;
}

.hamburger-container {
  background-color: mediumvioletred;
  width: 1%;
  min-width: 25px;
}

.menu-btn {
  display: none;
}

.menu-label {
  position: relative;
  padding: 10px;
  height: 100%;
}

.hamburger-icon {
  display: block;
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #000;
}

.hamburger-icon::after,
.hamburger-icon::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  height: calc(10% + 2px);
  background-color: #000;
  position: absolute;
}

.hamburger-icon::after {
  top: 10px;
}

.hamburger-icon::before {
  top: -10px;
}

.menu-btn:checked ~.menu-label {
  background-color: red;
}

.nav-items {
  text-align: left;
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  position: relative;
  left: 0;
  float: left;
  padding: 1em;
  transition: all 0.2s ease-in-out;
}

.sub-list {
  margin: 1em 0 -1em -1em;
  text-align: left;
  background-color: var(--clr-bck);
  visibility: hidden;
  opacity: 0;
  display: none;
  position: absolute;
  width: 100%;
  min-width: max-content;
}

.nav-item:last-of-type .sub-list {
  right: 0;
  text-align: right;
}

.sub-item {
  padding: 0.5em 1em;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:focus-within {
  cursor: pointer;
  background-color: var(--clr-accent);
}

.nav-item:hover .sub-list,
.nav-item:focus-within .sub-list {
  visibility: visible;
  opacity: 1;
  display: block;
}

.nav-item .sub-list .sub-item:hover,
.nav-item .sub-list .sub-item:focus,
.nav-item .sub-list .sub-item:focus-within {
  background-color: var(--clr-accent);
}

.nav-item:hover .nav-item-link,
.nav-item:focus .nav-item-link,
.nav-item:focus-within .nav-item-link,
.nav-item .sub-list .sub-item:hover .sub-item-link,
.nav-item .sub-list .sub-item:focus .sub-item-link,
.nav-item .sub-list .sub-item:focus-within .sub-item-link {
  color: var(--clr-hover);
}
