*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --clr-bck: rgb(201, 171, 37);
  --clr-accent: rgb(196, 111, 0);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.nav-items {
  text-align: left;
}

.nav-item {
  position: relative;
  left: 0;
  float: left;
  padding: 1em 5em 1em 0;
  background-color: var(--clr-bck);
  transition: all 0.2s ease-in-out;
}

.sub-list {
  margin-top: 1em;
  margin-bottom: -1em;
  padding-left: 0;
  text-align: left;
  background-color: var(--clr-bck);
  visibility: hidden;
  opacity: 0;
  display: none;
  position: absolute;
  width: 100%;
}

.sub-item {
  padding: 0.5em;
  padding-left: 0;
  margin-left: 0;
}

.nav-item:hover {
  cursor: pointer;
  background-color: var(--clr-accent);
}

.nav-item:hover .sub-list,
.nav-item:focus-within .sub-list {
  visibility: visible;
  opacity: 1;
  display: block;
}

.nav-item .sub-list .sub-item:hover {
  background-color: var(--clr-accent)
}


@media (max-width: 450px) {
  .nav-item {
    float: none;
  }

  .sub-list {
    position: static;
  }
}